# Fichiers de base de données
.venv/

# Fichiers temporaires Python
__pycache__/
*/__pycache__/
**/__pycache__/

# Fichiers compilés Python
*.pyc
*.pyo
*.pyd

# Éventuels fichiers de log ou temporaires
*.log
*.tmp
