# Fichiers de base de donnees
.venv/

# Fichiers temporaires Python
__pycache__/
*/__pycache__/
**/__pycache__/

# Fichiers compiles Python
*.pyc
*.pyo
*.pyd

# eventuels fichiers de log ou temporaires
*.log
*.tmp
